.copyright {
  text-align: center;
  padding-top: 38px;
  padding-bottom: 49px;
}
.copyright-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  &:hover {
    color: #81b3d2;
    transition: 0.2s;
    .copyright__image path {
      fill: #81b3d2;
      transition: 0.2s;
    }
  }

  &:active {
    color: #b3b3b3;
    .copyright__image path {
      fill: #b3b3b3;
    }
  }
}
