.hero {
  background-image: url(/img/hero-triangle.svg), url(/img/hero-bg.jpg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, top;
}

.hero__wrapper {
  text-align: center;
}

.hero__image {
  background-position: center;
  margin-top: 85px;
  margin-bottom: 85px;
}
